// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.flex1 {
    flex-basis: 5%;
}

.flex2 {
    flex-basis: 20%;
}

.flex3 {
    flex-basis: 40%;
}

.text-color {
    color: #141E27;
}